@import "./utils.scss";
@import "./variables.scss";

html body {
    min-height: 100vh;
    width: 100vw;
    padding-bottom: 4rem;
    overflow-x: hidden;

    &, select {
        font-family: $fira;
    }
}

header {
    nav {
        padding: 1rem 3.5rem 1rem 2rem;

        @include axisAlignment(space-between);
        @include until($breakpoint-mobile) {
            flex-direction: column;
            gap: 1rem;
            padding: 1rem 2rem;
        }

        > a {
            align-self: center;

            &:nth-of-type(2) {
                color: $red;
            }
        }

        > div {
            margin-left: 3rem;
            flex-wrap: wrap;

            @include axisAlignment(center);
            @include until($breakpoint-mobile) {
                margin-left: 1rem;
                transform: scale(1.1);

                &.gap-6 {
                    row-gap: 1rem;
                }
            }

            ul {
                flex-wrap: wrap;

                @include axisAlignment(null, center);
                @include until($breakpoint-mobile) {
                    flex-wrap: nowrap;
                }

                li a {
                    &:not(.button):hover {
                        @extend .active;
                    }

                    img {
                        vertical-align: bottom;
                    }
                }
            }
        }
    }
}

#banner {
    margin-bottom: 4rem;

    @include axisAlignment(start);
    @include until($breakpoint-mobile) {
        @include axisAlignment(center)
    }

    > div {
        &:first-child {
            width: 50%;
            padding-bottom: 3rem;
            padding-left: Calc(25vh - 9%);

            @include axisAlignment(center, center);
            @include until($breakpoint-mobile) {
                position: absolute;
                padding-top: 25vh;
                width: unset;
                padding-left: 2rem;
            }
            @include from($breakpoint-mobile) {
                background-color: $white-rgba;

                @include until($breakpoint-tablet) {
                    flex-shrink: 0;

                    h2 {
                        z-index: 1;
                        white-space: nowrap;
                    }
                }
            }

            > div {
                @include axisAlignment(null, start);
            }
        }

        &:last-child {
            width: auto;
            user-select: none;
            background: bannerGradient();
            
            @include until($breakpoint-mobile) {
                background: bannerGradient(true);
            }

            img {
                position: relative;
                z-index: -1;

                @include from($breakpoint-mobile) {
                    @include until($breakpoint-tablet) {
                        right: 75%;
                    }
                }
            }
        }
    }
}

#menu {
    > h3 {
        text-align: center;
        margin-bottom: 3rem;
    }

    > div {
        flex-wrap: wrap;
        padding: 0 5rem;

        @include axisAlignment(center);
    }

    article {
        flex: 0 0 22%;
        padding: 1.5rem 1rem;
        border: 1px solid $grey;
        border-radius: 180px 180px 30px 30px;

        @include axisAlignment(null, center);

        &:hover {
            box-shadow: 0 0 2rem $grey;
        }

        figure img {
            border-radius: 50%;
        }

        > div {

            &:first-of-type {
                text-align: center;

                @include axisAlignment(null, center);

                p {
                    font-weight: 300;
                    line-height: 1.2rem;
                }

                + h4 {
                    font-size: 1.3rem;
                    color: $green;
                    margin-top: auto;
                }
            }

            &:last-of-type {
                align-self: stretch;
                
                select {
                    background-color: $white;
                    border: 1px solid $black;
                    border-radius: 25px;
                    padding: .8rem;
                    font-size: 1.1rem;
                    appearance: none;
                    cursor: pointer;
                    background: url("../img/icon-caret-down.svg") no-repeat calc(100% - 10px);

                    @include transition(background-color);

                    &:hover {
                        background-color: $black;
                        color: $white;
                    }
                }

                a.button {
                    padding: .8rem;
                }
            }
        }
    }
}
