@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@600&family=Fira+Sans:wght@300;400;500;600;700;800&display=swap');

$fira: "Fira Sans", sans-serif;

$white: #fff;
$grey: #bdbdbd;
$black: #00240f;
$red: #ec0000;
$green: #05a84b;

@mixin axisAlignment($justifyContent: null, $alignItems: null) {
    @if $justifyContent {
        justify-content: $justifyContent;
    }
    @if $alignItems {
        align-items: $alignItems;
    }
}

html body {
    min-height: 100vh;
    width: 100vw;
    padding-bottom: 4rem;
    font-family: $fira;
}

header {

    nav {
        @include axisAlignment(space-between);

        padding: 1rem 3.5rem 1rem 2rem;

        ul {
            @include axisAlignment(null, center);

            flex-wrap: wrap;
            gap: 1.85rem;

            a img {
                vertical-align: bottom;
            }
        }
    }
}

.d-flex {
    display: flex;

    &-column {
        @extend .d-flex;

        flex-direction: column;
    }
}

#banner {
    @include axisAlignment(end);

    margin-bottom: 4rem;

    > div {

        &:first-child {
            @include axisAlignment(center, center);
            width: 50%;
            margin-bottom: 3rem;

            > div {
                @include axisAlignment(null, start);
            }
        }

        &:last-child {
            width: auto;
            background: linear-gradient(
                to left,
                rgba(255, 255, 255, 0.0) 50%,
                rgba(255, 255, 255, 0.9) 80%,
                rgba(255, 255, 255, 1.0)
            );

            img {
                position: relative;
                z-index: -1;
            }
        }
    }
}

#menu {

    > h3 {
        text-align: center;
        margin-bottom: 3rem;
    }

    > div {
        @include axisAlignment(center);

        padding: 0 5rem;
    }

    article {
        @include axisAlignment(null, center);

        max-width: 22%;
        padding: 1.5rem 1rem;
        border: 1px solid $grey;
        border-radius: 180px 180px 30px 30px;

        figure img {
            border-radius: 50%;
        }

        > div {

            &:first-of-type {
                @include axisAlignment(null, center);

                text-align: center;

                p {
                    font-weight: 300;
                    line-height: 1.2rem;
                }

                + h4 {
                    font-size: 1.3rem;
                    color: $green;
                }
            }

            &:last-of-type {
                align-self: stretch;
                
                select {
                    background-color: $white;
                    border: 1px solid $black;
                    border-radius: 25px;
                    padding: .8rem;
                    font-family: $fira;
                    font-size: 1.1rem;
                    appearance: none;
                    background: url("../img/icon-caret-down.svg") no-repeat calc(100% - 10px);
                }

                a.button {
                    padding: .8rem;
                }
            }

        }
    }
}

$spacer: 1rem;
$multipliers: (
    0: 0,
    1: .25,
    2: .5,
    3: .75,
    4: 1,
    5: 1.5,
    6: 2,
    7: 2.5
);

@each $num, $value in $multipliers {
    .gap-#{$num} {
        gap: $spacer * $value;
    }
}

.button {
    background-color: $red;
    text-transform: uppercase;
    text-align: center;
    color: $white;
    font-weight: 500;
    padding: .625rem 1.5rem;
    border-radius: 25px;

    &-lg {
        @extend .button;

        font-size: 1.3rem;
        padding: {
            left: .8rem;
            right: .8rem;
        }
    }
}

$title-rules: (
    2: (
        font-size: 3.375rem,
        font-weight: 600
    ),
    3: (
        font-size: 1.8rem,
        font-weight: 500
    ),
    4: (
        font-size: 1.3rem,
        font-weight: 500
    )
);

@each $num, $rules in $title-rules {
    h#{$num} {
        @each $prop, $val in $rules {
            #{$prop}: $val;
        }
    }
}
